@left-rail-width: 200px;
@middle-width: 500px;

@gray: #959595;

@screen-small-max : 767px;
@screen-medium : 768px;
@screen-medium-max : 1023px;
@screen-large : 1024px;
@screen-large-max : 1199px;
@screen-wide : 1200px;

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main-panel {
  position: absolute;
  transform: translateX(@left-rail-width);
  transition: transform 100ms linear;
  left: 0;
  right: @left-rail-width;
  top: 0;
  height: 100%;
  background-color: #fff;
  .close-panel {
    display: none;
    .back {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
  > div {
    height: 100%;
  }
  &.is-active,
  &.is-extra-active {
    @peak-width: 30px;
    transform: translateX(@peak-width);
    right: @peak-width;
    .close-panel {
      border-right: 1px solid @gray;
      display: table;
      position: absolute;
      background-color: #e4e8ee;
      top: 0;
      bottom: 0;
      left: -@peak-width;
      width: @peak-width;
    }
  }
}
.feed-item-list-container {
  height: 100%;
  width: @middle-width;
  overflow-x: hidden;
  overflow-y: scroll;
  .feed-item-list {
    max-width: 768px;
    margin: 0 auto;

    .feed-item-container {
      cursor: pointer;
      border-bottom: 1px solid @gray;
      padding: 10px 10px 20px;
      &.is-active {
        background-color: #e4e8ee;
      }
      .feed-name {
        font-size: 12px;
        color: @gray;
        margin-bottom: 10px;
      }
      .feed-title {
        font-weight: bold;
      }
      .feed-time {
        font-size: 12px;
        color: @gray;
        float: right;
      }

      .feed-body {
        display: none;
      }
      .feed-body-summary {
        font-size: 12px;
        margin: 10px 30px 0;
        color: @gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.item-view-container {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  left: @middle-width;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 1px solid @gray;

  .item-view-meta {
    display: block;
    padding: 30px 60px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid @gray;
    background-color: #e4e8ee;
    .feed-title {
      font-size: 32px;
      font-weight: bold;
    }
    .feed-time,
    .feed-author,
    .feed-name {
      font-size: 12px;
      color: @gray;
    }
  }
  .item-view {
    .item-body {
      margin: 20px 0;
      padding: 0 50px;
      overflow: hidden;
    }
    p {
      overflow: hidden;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.item-view-enter {
  transform: translateY(100vh);
  transition: transform 200ms linear;
}

.item-view-enter-active {
  transform: translateY(0);
}

.item-view-leave {
  transform: translateY(0);
  transition: transform 200ms linear;
}

.item-view-leave-active {
  transform: translateY(-100vh);
}
.subscription-list {
  border-right: 1px solid @gray;
  background-color: #e4e8ee;
  width: @left-rail-width - 1px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .filters-container {
    padding: 20px 0;
    .subscription-container {
      border: none;
    }
  }
  .subscription-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    cursor: pointer;
    .count {
      display: table-cell;
      width: 30px;
      font-size: 12px;
      color: @gray;
      vertical-align: middle;
    }
    &.is-active {
      background-color: #d9dde5;
    }
    .subscription-link {
      display: table-cell;
      width: @left-rail-width -50px;
      padding: 10px;
      cursor: pointer;
      color: black;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
@media all and (min-width: @screen-medium) {
}
@media all and (min-width: @screen-large) {
}
@media all and (min-width: @screen-wide) {
}
@media all and (max-width: @screen-small-max) {
  @mobile-left-rail-width: 150px;
  @mobile-middle-width: 140px;
  .main-panel {
    transform: translateX(@mobile-left-rail-width);
    right: @mobile-left-rail-width;
  }
  .feed-item-list-container {
    width: auto;
    .feed-item-list {
      .feed-item-container {
        .feed-body-summary {
          margin: 10px 0 0;
        }
      }
    }
  }
  .item-view-container {
    display: none;
    left: @mobile-middle-width;
  }
  .subscription-list {
    width: @mobile-left-rail-width - 1px;
  }
  .subscription-link {
    width: @mobile-left-rail-width - 50px;
  }
  .main-panel.is-active {
    .feed-item-list-container {
      width: @mobile-middle-width;
    }
    .item-view-container {
      display: block;
    }
    @mobile-peak-width: 30px;
    transform: translateX(@mobile-peak-width);
    right: @mobile-peak-width;
    .close-panel {
      left: -@mobile-peak-width;
      width: @mobile-peak-width;
    }
  }
}
@media all and (min-width: @screen-medium) and (max-width: @screen-medium-max) {
  @tablet-left-rail-width: 200px;
  @tablet-middle-width: 300px;
  .main-panel {
    transform: translateX(@tablet-left-rail-width);
    right: @tablet-left-rail-width;
  }
  .feed-item-list-container {
    width: @tablet-middle-width;
    .feed-item-list {
      .feed-item-container {
        .feed-body-summary {
          margin: 10px 0 0;
        }
      }
    }
  }
  .item-view-container {
    left: @tablet-middle-width;
  }
  .subscription-list {
    width: @tablet-left-rail-width - 1px;
  }
  .subscription-link {
    width: @tablet-left-rail-width - 50px;
  }
}
